@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f5fb;
}

.experience-page{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:40px 20px;
}

.logo{
font-size:42px;
font-weight:700;
color:#a12fd3;
}

.subtitle{
margin-top:8px;
color:#777;
}

.progress{
display:flex;
align-items:center;
margin-top:30px;
}

.line{
width:60px;
height:2px;
background:#e7d5f3;
}

.line.active{
background:#a12fd3;
}

.step{
width:32px;
height:32px;
border-radius:50%;
border:2px solid #d7b4ea;
background:#fff;
color:#a12fd3;
display:flex;
justify-content:center;
align-items:center;
font-size:14px;
font-weight:600;
}

.completed{
background:#a12fd3;
border:none;
color:#fff;
}

.current{
border:2px solid #a12fd3;
}

.progress-title{
margin:15px 0 35px;
font-size:13px;
font-weight:600;
letter-spacing:2px;
color:#a12fd3;
}

.card{
width:720px;
background:#fff;
padding:45px;
border-radius:18px;
box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.icon-circle{
width:65px;
height:65px;
background:#f8ebfd;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
font-size:22px;
color:#a12fd3;
}

.card h2{
text-align:center;
margin-top:18px;
color:#444;
}

.card-text{
text-align:center;
margin-top:5px;
margin-bottom:30px;
color:#888;
font-size:14px;
}

.levels{
display:flex;
flex-direction:column;
gap:18px;
}

.level-card{
display:flex;
align-items:center;
gap:18px;
padding:18px;
border:2px solid #ead6f6;
border-radius:12px;
cursor:pointer;
}

.selected{
border-color:#a12fd3;
background:#fdf9ff;
}

.radio{
width:22px;
height:22px;
border-radius:50%;
border:2px solid #c983e7;
display:flex;
justify-content:center;
align-items:center;
}

.radio-fill{
width:10px;
height:10px;
background:#a12fd3;
border-radius:50%;
}

.level-card h4{
color:#444;
margin-bottom:5px;
}

.level-card p{
font-size:14px;
color:#888;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:40px;
}

.back-btn{
border:none;
background:none;
display:flex;
align-items:center;
gap:8px;
font-size:15px;
color:#666;
cursor:pointer;
}

.next-btn{
border:none;
background:#a12fd3;
color:#fff;
padding:14px 28px;
border-radius:10px;
font-weight:600;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
box-shadow:0 8px 18px rgba(161,47,211,.25);
}

.login{
margin-top:25px;
color:#777;
}

.login span{
color:#a12fd3;
font-weight:600;
cursor:pointer;
}

@media(max-width:768px){

.card{
width:100%;
padding:25px;
}

.logo{
font-size:34px;
}

.line{
width:35px;
}

.buttons{
flex-direction:column;
gap:15px;
}

.next-btn{
width:100%;
justify-content:center;
}

}