@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f5fb;
}

.learn-page{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:40px 20px;
}

.logo{
font-size:42px;
font-weight:700;
color:#a12fd3;
}

.subtitle{
margin-top:8px;
color:#777;
}

.progress{
display:flex;
align-items:center;
margin-top:30px;
}

.line{
width:60px;
height:2px;
background:#e8d9f2;
}

.line.active{
background:#a12fd3;
}

.step{
width:32px;
height:32px;
border-radius:50%;
border:2px solid #d8b7ea;
display:flex;
justify-content:center;
align-items:center;
background:#fff;
color:#a12fd3;
font-size:14px;
font-weight:600;
}

.completed{
background:#a12fd3;
border:none;
color:#fff;
}

.current{
border:2px solid #a12fd3;
}

.progress-title{
margin:15px 0 35px;
color:#a12fd3;
font-size:13px;
font-weight:600;
letter-spacing:2px;
}

.card{
width:720px;
background:#fff;
padding:45px;
border-radius:18px;
box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.icon-circle{
width:65px;
height:65px;
border-radius:50%;
background:#edf5ff;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
font-size:22px;
color:#4f7cff;
}

.card h2{
text-align:center;
margin-top:18px;
color:#444;
}

.card-text{
text-align:center;
margin-top:5px;
margin-bottom:25px;
color:#888;
font-size:14px;
}

.card input{
width:100%;
padding:15px;
border:2px solid #ead6f5;
border-radius:10px;
outline:none;
font-size:15px;
}

.tags{
display:flex;
gap:10px;
margin-top:18px;
flex-wrap:wrap;
}

.tag{
padding:8px 16px;
background:#e9f3ff;
color:#4f7cff;
border-radius:20px;
font-size:14px;
cursor:pointer;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:45px;
}

.back-btn{
background:none;
border:none;
display:flex;
align-items:center;
gap:8px;
font-size:15px;
color:#666;
cursor:pointer;
}

.next-btn{
background:#a12fd3;
border:none;
padding:14px 28px;
border-radius:10px;
color:#fff;
font-weight:600;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
box-shadow:0 8px 18px rgba(161,47,211,.25);
}

.login{
margin-top:25px;
color:#777;
}

.login span{
color:#a12fd3;
font-weight:600;
cursor:pointer;
}

@media(max-width:768px){

.card{
width:100%;
padding:25px;
}

.logo{
font-size:34px;
}

.line{
width:35px;
}

.buttons{
flex-direction:column;
gap:15px;
}

.next-btn{
width:100%;
justify-content:center;
}

}