@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f5fb;
}

.teach-page{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:40px 20px;
}

.logo{
font-size:42px;
color:#a02dd3;
font-weight:700;
}

.subtitle{
margin-top:8px;
color:#777;
}

.progress{
display:flex;
align-items:center;
margin-top:30px;
}

.line{
width:60px;
height:2px;
background:#e7d7f3;
}

.line.active{
background:#a02dd3;
}

.step{
width:32px;
height:32px;
border-radius:50%;
border:2px solid #dcb6ef;
display:flex;
align-items:center;
justify-content:center;
background:#fff;
color:#a02dd3;
font-size:14px;
font-weight:600;
}

.completed{
background:#a02dd3;
color:#fff;
border:none;
}

.current{
border:2px solid #a02dd3;
}

.progress-title{
margin:15px 0 35px;
font-size:13px;
font-weight:600;
letter-spacing:2px;
color:#a02dd3;
}

.card{
width:720px;
background:#fff;
border-radius:18px;
padding:45px;
box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.icon-circle{
width:65px;
height:65px;
background:#f8eafd;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
color:#a02dd3;
font-size:22px;
}

.card h2{
text-align:center;
margin-top:15px;
color:#444;
}

.card-text{
text-align:center;
margin-top:6px;
margin-bottom:25px;
color:#888;
font-size:14px;
}

.card input{
width:100%;
padding:15px;
border:2px solid #ead5f7;
border-radius:10px;
outline:none;
font-size:15px;
}

.tags{
display:flex;
gap:12px;
margin-top:18px;
flex-wrap:wrap;
}

.tag{
padding:8px 16px;
background:#f5e8fb;
color:#a02dd3;
border-radius:20px;
font-size:14px;
cursor:pointer;
}

.suggested{
margin-top:25px;
}

.suggested p{
font-size:14px;
font-weight:600;
color:#777;
margin-bottom:12px;
}

.suggestions{
display:flex;
gap:10px;
flex-wrap:wrap;
}

.suggestion{
padding:6px 14px;
border:1px solid #d7b4eb;
border-radius:20px;
font-size:13px;
color:#8f39c6;
cursor:pointer;
background:#fff;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:40px;
}

.back-btn{
background:none;
border:none;
display:flex;
align-items:center;
gap:8px;
font-size:15px;
color:#666;
cursor:pointer;
}

.next-btn{
background:#a02dd3;
border:none;
padding:14px 30px;
border-radius:10px;
color:#fff;
font-weight:600;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
box-shadow:0 8px 18px rgba(160,45,211,.25);
}

.login{
margin-top:25px;
color:#777;
}

.login span{
color:#a02dd3;
font-weight:600;
cursor:pointer;
}

@media(max-width:768px){

.card{
width:100%;
padding:25px;
}

.logo{
font-size:34px;
}

.line{
width:35px;
}

.buttons{
flex-direction:column;
gap:15px;
}

.next-btn{
justify-content:center;
width:100%;
}

}